[Unit]
Description=Searcher Network and Firewall Rules
After=azure-complete-provisioning.service
Requires=azure-complete-provisioning.service

[Service]
Type=oneshot
ExecStart=/usr/bin/init-firewall.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=minimal.target
